# Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as scikit_learn

# Carga/Slicing de datos

In [21]:
dataset = np.load('proyecto_training_data.npy')
trainData = dataset[0:int(len(dataset)*0.8)]
testData = dataset[int(len(dataset)*0.8):len(dataset)]

dataframe = pd.DataFrame(dataset, columns = ['SalePrice','OverallQual','1stFlrSF', 'TotRmsAbvGrd', 'YearBuilt', 'LotFrontage'])
trainDataFrame = pd.DataFrame(trainData, columns = ['SalePrice','OverallQual','1stFlrSF', 'TotRmsAbvGrd', 'YearBuilt', 'LotFrontage'])
testDataFrame = pd.DataFrame(testData, columns = ['SalePrice','OverallQual','1stFlrSF', 'TotRmsAbvGrd', 'YearBuilt', 'LotFrontage'])

display(dataframe)

      SalePrice  OverallQual  1stFlrSF  TotRmsAbvGrd  YearBuilt  LotFrontage
0      208500.0          7.0     856.0           8.0     2003.0         65.0
1      181500.0          6.0    1262.0           6.0     1976.0         80.0
2      223500.0          7.0     920.0           6.0     2001.0         68.0
3      140000.0          7.0     961.0           7.0     1915.0         60.0
4      250000.0          8.0    1145.0           9.0     2000.0         84.0
...         ...          ...       ...           ...        ...          ...
1455   175000.0          6.0     953.0           7.0     1999.0         62.0
1456   210000.0          6.0    2073.0           7.0     1978.0         85.0
1457   266500.0          7.0    1188.0           9.0     1941.0         66.0
1458   142125.0          5.0    1078.0           5.0     1950.0         68.0
1459   147500.0          5.0    1256.0           6.0     1965.0         75.0

[1460 rows x 6 columns]

In [41]:
cols_na = [col for col in dataframe if dataframe[col].isnull().mean()]
for col in cols_na:
  print(f'''{col}-{dataframe[col].isnull().mean()}''')
print(f'''\n{cols_na}\n''')
print(dataframe[cols_na].dtypes)

LotFrontage-0.1773972602739726

['LotFrontage']

LotFrontage    float64
dtype: object

# Analisis Exploratorio por Variable

#### Sale Price

In [27]:
print(f'''Media: {dataframe['SalePrice'].mean()}''')
print(f'''Valor Maximo: {dataframe['SalePrice'].max()}''')
print(f'''Valor Minimo: {dataframe['SalePrice'].min()}''')
print(f'''Rango: {dataframe['SalePrice'].min()}''')
print(f'''Desviacion Estandar: {dataframe['SalePrice'].std()}''')

Media: 180921.19589041095
Valor Maximo: 755000.0
Valor Minimo: 34900.0
Rango: 34900.0
Desviacion Estandar: 79442.50288288662

#### Overall Quality

#### First Floor square feet

#### Total rooms above grade

#### Year Built

#### Lot Frontage